@media only screen and (min-width: 1024px) and (max-width: 1025px) {
  .pc-top-block .left-block{
    width: 81%;
  }
  .unit-block-5{
    max-width:1300px !important;
  }
  .unit-block-5 .unit-right .download-btn{
    width: 8.5em !important;
  }
  .unit-block-5 .unit-left{
    width: 42%;
  }
  .unit-block-5 .unit-right{
    display: inline-block;
    width: 57%;
    text-align: left;
    vertical-align: middle;
    padding-left: 70px;
  }
  .unit-block-5 .unit-right .download-area .download-btn img{
    height:40px !important;
  }
}  

@media (min-width: 279px) and (max-width: 318px){
  .wrap-full-h5 .sub-img {
    height: 20px !important;
  }
}

@media (min-width: 319px) and (max-width: 358px) {
  .wrap-full-h5 .string_desc{
    width: 225px !important;
  }
  .wrap-full-h5 .sub-img {
    height: 30px !important;
  }
}
@media (min-width: 359px) and (max-width:373px) {
  .wrap-full-h5 .string_desc{
    width: 249px !important;
  }
  
}
@media (min-width: 374px) and (max-width:409px) {
  .wrap-full-h5 .string_desc{
    width: 9.8em !important;
  }
  .wrap-full-h5 .sub-img {
    height: 40px !important;
  }
}
@media (min-width: 410px) and (max-width:412px) {
  .wrap-full-h5 .string_desc{
    width: 9.8em !important;
  }
  .wrap-full-h5 .sub-img {
    height: 50px !important;
  }
}
@media (min-width: 413px) and (max-width: 766px) {
  .wrap-full-h5 .string_desc{
    width: 9.8em !important;
  }
  .wrap-full-h5 .sub-img {
    height: 50px !important;
  }

}
@media (min-width: 767px) {
  .wrap-full-h5 .string_desc{
    width: 9.8em !important;
  }
  .wrap-full-h5 .sub-img {
    height: 80px !important;
  }
}
@media only screen and (max-width: 878px) and (min-width: 767.98px) {
  /* .wrap-sub-content{
    min-width: 768px;
  } */
  .wrap-full-h5 .download-btn{
    width: 382px;
    margin-right: 2em!important;
  }
  .wrap-full-h5 .hichat-browser .download-btn{
    width: 300px;
  }
  .wrap-full-h5 .wrap-h5-unit-2{
    margin-top: 60vw;
  }
  .wrap-full-h5 .wrap-h5-unit-2 li {
    margin-top: 55vw;
  }
  .pad-air-style{
    /* top: -3.5em !important; */
  }
  .wrap-full-h5 .download-btn .android-text{
    font-size:3vw;
  }
  .wrap-full-h5 .download-btn .string_app_apk,.string_app_ios{
    font-size:2vw;
  }
  .wrap-full-h5 .download-btn img{
    /* margin-top:70%; */
    width: 8vw;
  }
  .wrap-full-h5 .string_desc{
    width: 9.6em!important;
  }
  .wrap-full-h5 .wrap-h5-footer{
    margin-top: 235px;
    height: 550px !important;
    background-image:none !important;
  }  
}

@media only screen and (min-width: 279px) and (max-width: 300px) {
  .wrap-full-h5 #mvArea{
    height: 370px !important;
  }
  .wrap-full-h5 .unit-block-1 ul li{
    margin-bottom: 19vw;
  }
}
@media only screen and (min-width: 910px) and (max-width: 915px){
  .unit-block-5 .unit-right {
    display: inline-block;
    width: 62%;
    text-align: left;
    vertical-align: middle;
    padding-left: 80px;
  }
  .unit-block-5 .unit-left {
    display: inline-block;
    width: 37%;
    text-align: left;
  }
  .unit-block-5{
    max-width: 1300px !important;
  }
  .unit-block-5 .unit-left > img{
    width: 350px!important;
  }
  .unit-block-5 .unit-right .download-btn{
    width: 8.5em !important;
  }
  .unit-block-5 .unit-right{
    display: inline-block;
    width: 62%;
    text-align: left;
    vertical-align: middle;
    padding-left: 70px;
  }
  .unit-block-5 .unit-right .download-area .download-btn img{
    height: 40px !important;
  }
}


@media only screen and (min-width: 539px) and (max-width: 767px) {
  .wrap-full-h5 .download-btn{
    width: 277px;
  }
  .wrap-full-h5 .wrap-h5-unit-2{
    margin-top: 60vw;
  }
  .pad-air-style{
    top: 2em !important;
  }
  .footer-text{
    margin-top:3em;
  }
  .wrap-full-h5 .wrap-h5-unit-2 li {
    margin-top: 55vw;
  }
  .wrap-full-h5 .wrap-h5-footer{
    margin-top: 115px;
    background-image:none !important;
  }
  .wrap-full-h5 .download-btn .android-text{
    font-size:3vw;
  }
  .wrap-full-h5 .download-btn .string_app_apk,.string_app_ios{
    font-size:2vw;
  }
  .wrap-full-h5 .download-btn img{
    margin-top:70%;
    width: 8vw;
  }
  .wrap-full-h5 .string_desc{
    width: 363px !important;
  }
}
@media only screen and (max-width: 281px) and (max-height:654px) {
  .wrap-full-h5 .download-btn{
    width: 200px;
  }
  .wrap-full-h5 .hichat-browser .download-btn{
    width: 150px;
  }
}